<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MetadataRemover.WinFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="serilog:using:Debug" value="Serilog.Sinks.Debug"/>
		<add key="serilog:write-to:Debug"/>
		<add key="serilog:using:File" value="Serilog.Sinks.File"/>
		<add key="serilog:write-to:File.path" value="%APPDATA%/Juniansoft/MetadataRemover/logs/log.txt"/>
		<add key="serilog:write-to:File.rollingInterval" value="Day"/>
		<add key="serilog:using:Thread" value="Serilog.Enrichers.Thread"/>
		<add key="serilog:enrich:WithThreadId"/>
	</appSettings>
 <userSettings>
  <MetadataRemover.WinFormsApp.Properties.Settings>
   <setting name="SelectedFile" serializeAs="String">
    <value />
   </setting>
  </MetadataRemover.WinFormsApp.Properties.Settings>
 </userSettings>
</configuration>